<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>klano "Forest of Evil" pagalbinis tinklapis (riteriai.draugas.lt, 6 pasaulis)</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen" charset="utf-8" />
  </head>
  <body>
    <ul class="menu">
      <li><%= link_to 'Pradinis puslapis', url(:welcome) %></li>
      <% if current_user %>
        <li><%= link_to h(current_user.login), resource(current_user) %></li>
        <li><%= link_to 'Atsijungti', url(:logout) %></li>
      <% else %>
        <li><%= link_to 'Registruotis', url(:register) %></li>
        <li><%= link_to 'Prisijungti', url(:login) %></li>
      <% end %>
    </ul>
    <%= clear %>
    <%= message[:notice] %>
    <div class="content">
      <%= catch_content :for_layout %>
    </div>
  </body>
</html>
